import * as classNames from "classnames";
import * as React from "react";
{{#each node.children}}
import {{name}} from "./{{name}}";
{{/each}}

const styles = require("./{{node.name}}.scss");

interface IProps {
  className?: string;
}

export default function {{node.name}}({
  className,
}: IProps) {
  return (
    <div className={classNames(styles.node, className)}>
      {{#each node.children}}
      <{{name}} />
      {{/each}}
    </div>
  );
}
